@import url(reset.css);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*-------------------css variables------------------*/

:root {
  --heading-typeface: "DM Serif Text";
  --body-typeface: "Figtree", Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--blue);
}

/*-------------------default visual style------------------*/

body {
  font-family: var(--body-typeface);
  font-size: 18pt;
  background-color: #fff8ef;
}

p {
  color: #212121;
  font-family: var(--body-typeface);
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

h1 {
  color: #514a8e;
  font-family: var(--heading-typeface);
  font-weight: 400;
  font-size: 6rem;
  margin-bottom: 3rem;
}

h2 {
  font-family: var(--heading-typeface);
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 104.955%; /* 67.171px */
}

h3 {
  font-family: var(--heading-typeface);
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2rem;

}

h4 {
  font-family: var(--heading-typeface);
  font-size: 1.2rem;
  font-weight: 400;
}

h5 {
  font-family: var(--body-typeface);
  font-size: 1.2rem;
  font-weight: 400;
}

h5.big {
  font-family: var(--body-typeface);
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 40px;
}

h6 {
  font-family: var(--body-typeface);
  font-size: 1.2rem;
  font-weight: 600;
}

a {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
}

p.heading-caption {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

figcaption {
  color: #212121;
  font-family: Figtree;
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
}

i{
  font-size: 2rem;
  color: #fff8ef;
}

/*-------------------make images responsive ------------------*/
img {
  max-width: 100%;
  height: auto;
}

/*-------------Navigation Styles--------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
}

.top-nav {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.top-nav a {
  color: #212121;
}


/*---------home--------*/
/*--------------hero section styling----------------*/
.hero-area{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-content{
  display: flex;
  flex-direction: column;
  gap:2rem;
  width: 100%;
  padding: 1rem;
}

.hero-graphic{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-text{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

/*--------------main content styling----------------*/

main.featured-projects {
  margin: 0 auto;
  max-width: 88vw;
}

/*--------------featured projects styling----------------*/

.featured-projects {
  border: 2px solid #514a8e;
}

.featured-projects-title {
  height:20vh;
  background-color: #514a8e;

  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-projects-title h3 {
  text-align: center;
  color: #fff8ef;
  margin-top: 2rem;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.star-icon {
  display:none;
  vertical-align: middle;
  margin: 0.5rem;
}

.project-box {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;
  grid-auto-flow: dense;
}


.project-text-box {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:3rem;

}

.project-image{
  width: 100%;
}

.project-text-box h2 {
  color: #514a8e;
  margin-right: 4rem;
  margin-bottom: 1.5rem;
}

a.main-cta {
  display: inline-block;
  padding: 24px 44px;
  color: #fff8ef;
  font-weight: 400;
  background-color: #dd443e;

}

a.main-cta:hover {
  background: linear-gradient(0deg, #dd443e 0%, #fff8ef 374.27%);
}

a.project-process {
  display: inline-block;
  padding: 2rem 6rem;
  border-radius: 1rem;
  color: #fff8ef;
  font-weight: 400;
  background-color: #212121;
}

/*----------reverse featured projects columns--------*/

.project-box:nth-child(odd) {
  grid-template-columns: 1fr;
}

.project-box:nth-child(odd) .project-image {
  grid-column: 1;
}

.project-box:nth-child(odd) .project-text-box {
  grid-column: 0;
  margin-left: 0rem;
  margin-right: 0;
}


/*--------uber eats styling-------*/
/*---------hero area-------*/
.hero-area-case-study {
  max-height: 80vh;
  height: 80vh;
  margin: 0 auto;
  max-width: 88vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.hero-area-case-study h2{
  margin-bottom: 3rem;
  text-align: center;
}

/*-----project overview styling-----*/

.project-overview {
  margin: 0 auto;
  max-width: 70vw;
  display: flex;
  flex-direction: row;
}

.main-project-overview {
  width:55%;
}

.project-details {
  width:45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-details-text{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.project-process {
  margin: 0 auto;
  max-width: 88vw;
  display: flex;
  flex-direction: row;
  padding:4rem;



}

/*-------main process content styling---------*/

.process-heading {
  width: 100%;
  height: 35vh;
  background-color: #282828;
  margin-bottom: 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.process-heading h3 {
  color: #fff8ef;
}

li {
  color: #fff8ef;
  font-family: Figtree;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem; /* 156.25% */
}

.process-heading h3,
.process-heading ul {
  margin: 0;
  padding: 0;
}

.process-content {
  margin: 0 auto;
  max-width: 75vw;
}

.border-bottom {
  border-bottom: 1px solid #212121;
  padding-bottom: 5rem;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.process-chunk-one-column{
  display: flex;
  flex-direction: column;
  gap:2rem;
  margin-bottom: 6rem;
}

.process-chunk-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 6rem;
}

.process-chunk-two-column h3 {
  grid-column: 1/3;
}


.process-chunk-three-column {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 6rem;
}

.process-chunk-three-column p {
  grid-column: 1;
}

.process-chunk-three-column-assumptions {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  gap:2rem;
}

.assumption-cards {
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  border: 1px solid #212121;

  display: flex;
  justify-content: center;
  align-items: center;
}

.affinity-map {
  grid-column: 2/4;
  width: 100%;
}

.process-chunk-three-column li {
  color: #212121;
  margin-bottom: 2rem;
}

.insights-columns {
  grid-column: 1/4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:3rem;
}

.insights-columns ul{
  width: 28%;
}

.assumptions-examination-rows {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  gap:3rem;
}

.assumptions-examination-cards{
  width:45%;
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  border: 1px solid #212121;

  display: flex;
  justify-content: center;
  align-items: center;
}

.examine-text {
  width:55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-content {
  grid-column: 1/3;

  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;
}

.goal-column {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap:3rem;
}

.persona-content {
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.persona-column img {
  width: 100%;
}

.strategy-text-content{
  grid-column: 1/3;
  width: 70%;
}

.ideate-text-content {
  grid-column: 1/3;
  width: 70%;

  display: flex;
  flex-direction: column;
  gap:2rem;
}

.recommendation-two-columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:3rem;
}

.wireframe-item{
  width: 35%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

figure img {
  margin-bottom: 1rem;
}

.recommendtion-one-column {
  grid-column: 1/3;
}

.recommendtion-one-column-item {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.recommendtion-one-column-item img {
  grid-column: 1/3;
}

/*------next project--------*/

.next-project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:3rem;
  padding-bottom: 5rem;;

}

.arrow {
  margin-left: 1rem;
}

/*----------footer styling--------*/

footer {
  width: 100%;
  background-color: #514a8e;
  padding: 2rem 3rem;

  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  justify-content: space-between;
}

footer p,
footer h3,
footer h4 {
  color: #fff8ef;
  margin-bottom: 1rem;
}

footer nav {
  margin-top: 1rem;
}

footer nav a {
  margin: 0.5rem;
}

.links a {
  color: #fff8ef;
  font-size: 1rem;
  text-decoration: underline;
  margin-right: 1rem;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background: lightblue;
  }

  .hero-content {
    flex-direction: row;
    width: 80%;
  }

  .hero-graphic {
    width: 45%;
  }
  .hero-text {
    width: 55%;
    text-align: start;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background: greenyellow;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  body {
    background: lightpink;
  }

  /*---home hero section--*/

  .hero-content {
    flex-direction: row;
    width: 80%;
    gap:0;
  }

  .hero-graphic {
    width: 45%;
  }
  .hero-text {
    width: 55%;
    text-align: start;
    margin-bottom: 0;
  }


/*---featured projects--*/

.featured-projects-title {
  height:18vh;
}

.featured-projects-title h3 {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.star-icon {
  display: block;
  vertical-align: middle;
  margin: 2.5rem;
}

/*---project box----*/

.project-box {
  display: grid;
  grid-template-columns: 55% 1fr;
  column-gap: 2rem;
  margin-bottom: 5rem;
  grid-auto-flow: dense;
}

.project-image {
  grid-column: 1;
}

.project-image img {
  width: 100%;
  display: block;
}

.project-text-box {
  grid-column: 2;
  border: 2px solid #514a8e;
  margin-right: 2rem;
  margin-top: 0;

  padding: 6rem 8rem 6rem 6rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap:0;
}


.project-text-box h2 {
  color: #514a8e;
  margin-right: 4rem;
  margin-bottom: 1.5rem;
}

/*----------reverse featured projects columns--------*/

.project-box:nth-child(odd) {
  grid-template-columns: 1fr 55%;
}

.project-box:nth-child(odd) .project-image {
  grid-column: 2;
}

.project-box:nth-child(odd) .project-text-box {
  grid-column: 1;
  margin-left: 2rem;
  margin-right: 0;
}

/*----------footer styling--------*/

footer {
  width: 100%;
  background-color: #514a8e;
  padding: 3rem 7rem 3rem 7rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap:0;
}

footer p,
footer h3,
footer h4 {
  color: #fff8ef;
  margin-bottom: 0.5rem;
}

footer nav {
  margin-top: 1rem;
}

footer nav a {
  margin: 0.5rem;
}

.links a {
  color: #fff8ef;
  font-size: 1rem;
  text-decoration: underline;
  margin-right: 1rem;
}


}
